* {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}

.grid {

}

header, footer, section {

}

img {

}

logo {
	display: block;
}

a {
	color: $text-color;
	text-decoration: none;

  img {
    border: 0;
  }

  &[disabled] {
  	pointer-events: none;
  }
}

.strike {
	position: relative;

	&:after {
		background: red;
		content: '';
		height: 12px;
		position: absolute;
		top: 38%;
		left: -5%;
		width: 110%;
	}
}

section {
	display: table;
	min-height: 100vh;

	& > div {
		display: table-cell;
		height: 100%;
		padding: 0 10%;
		vertical-align: middle;
	}
}
